@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
body {
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    overflow: hidden;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: visible;
}
.calculadora {
    border-radius: 5%;
    outline: 3px solid black;
    width: 400px;
    padding: 40px;
    background-color: #FFDEE9;
    -webkit-box-shadow: 9px 9px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 0px 3px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 0px 3px rgba(0,0,0,0.75);
    
}
button {
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    padding: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}
.calculadora-linha-1,
.calculadora-linha-2,
.calculadora-linha-3,
.calculadora-linha-4,
.calculadora-linha-5 {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    padding: 10px;
    gap: 20px;
}
button > a > i {
    font-size: 25px;
    color: #000;
}   
button:active {
    background-color: #000;
    color: #fff;
}
input {
    background-color: rgba(255, 255, 255, 0.486);
    outline: 2px solid #0000009d;
    padding: 10px;
    overflow: hidden;
    border: none;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 30px;
    pointer-events: none;
    width: 100%;
    letter-spacing: .2rem;
    border-radius: 5px;
}
.calculadora-resultado {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-size: 30px;
}

i {
    font-weight: bold;
}
.aviso {
    background-color: #FFDEE9;
    -webkit-box-shadow: 9px 9px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 0px 3px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 0px 3px rgba(0,0,0,0.75);
    outline: 3px solid black;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    visibility: hidden;
    width: 0;
    height: 25px;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
    transition: all 0.5s;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.alerta {
    visibility: visible;
    width: 300px;
}
@media screen and (max-width: 525px) {
    .calculadora {
        width: 70%;
    }
    .calculadora-linha-1,
    .calculadora-linha-2,
    .calculadora-linha-3,
    .calculadora-linha-4,
    .calculadora-linha-5 {
        display: grid;
        grid-template-columns: 22% 22% 22% 22%;
    }
} 